body {
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    background: rgb(31, 97, 199);

}

button{
    cursor: pointer;
    border-radius: 10px;
}

/* MON TITRE */

#app h1 {
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}



/* LISTE */

#app ul {
    background: rgb(250, 252, 255);
    background: linear-gradient(137deg, rgba(250, 252, 255, 1) 30%, rgba(240, 242, 191, 0.8687850140056023) 50%, rgba(255, 255, 255, 1) 67%);
    padding-inline-start: 0;


    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vh;
    border-radius: 15px;
}


#app ul li {
    padding-inline-start: 0;
    position: relative;
    list-style-type: none;
    padding: 0;
    width: 100%;
    border: 0.25px solid grey;
    
}

#app ul li:first-child {
    border-top: 2px solid grey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*conserver la même taille de bordure */
}

#app ul li:last-child {
    border-bottom: 2px solid grey;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /*conserver la même taille de bordure */
}

#app ul li p {
    padding: 0.5rem 0 .5rem 0.5rem;
}

/* BOUTONS LISTE SUPPRIMER */

#app ul li button {
    /*placement du bouton*/
    position: absolute;
    right: 15px;
    bottom: 35px;
    /* style du bouton */
    background: linear-gradient(137deg, rgba(199, 31, 31, 1) 45%, rgba(250, 179, 159, 1) 96%);
    padding: 0.5rem;
    border-style: none;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

/* FORMULAIRE */

form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: self-start;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vh;
}

/* Label */

label {
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

form .input_error {
    /* la div qui entoure mon input et mon message d'errreur*/

    display: flex;
    flex-direction: row;
    align-items: center;
}


form div span {
    opacity: 0;
    text-align: center;
    font-size: 15px;
    padding:.25rem;
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.664);
    color: red;
    font-family: sans-serif;
    border-radius: 5px;

}

label {
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}


/* input */

form input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 60%;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    border-radius: 5px;
}

.flex-buttons button:first-child{
    margin-right: 1rem;
}
.flex-buttons label button{
    border-radius: 0;
    background: linear-gradient(142deg, rgba(237,189,126,1) 82%, rgba(250,243,159,1) 96%);

}

form button {
    margin-top: 1.5rem;
    background: linear-gradient(137deg, rgba(68, 199, 31, 1) 70%, rgba(172, 250, 159, 1) 96%);
    padding: 0.5rem;
    border-style: none;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

/* CLASS */

.visible{ /* message d'erreur */
    transition: .5s;
    opacity: 1;
}

.position{/* position du bouton checkbox */
   position: absolute;
   bottom: 35px;
   right: 100px;
   height: 25px;
   width: 25px;

}